body {
    font-family: sans-serif;
}

h1[id] {
    color: skyblue;
    font-family: sans-serif;
}

code {
    font-family: monospace;
    color: red;
}

.code {
    color: green;
}

/* li~li {
    background-color: black;
    color: white;
} */

ol > li {
    background-color: black;
    color: white;
}