main {
    padding-top: 32px;
}

.background {
    background: url(../images/plans-background.jpg) center/cover;
    width: 100%;
    height: 100%;
    position: fixed;
    /* 让背景图像出现在后面内容的下方 */
    z-index: -1;
    /* 6. filter 滤镜属性
- 我们可以使用滤镜属性来添加一个滤镜, 并使用其中的一个预定义的滤镜函数来修改这个元素的外观, 以及它的内容
- 比如高斯模糊滤镜 blur(), 需要输入一个像素值, 然后就会使元素变模糊 
- 它们允许我们修改一个元素的视觉外观 */
    /* 我们给背景图像添加一个滤镜, 比如灰阶, 参数是百分比, 确定你想将图片转变的灰色有多深 */
    filter: grayscale(40%);
}

.package {
    position: relative;
    width: 80%;
    border: 4px solid #103b21;
    border-left: none;
    margin: 16px 0px;
    /* 消除固定定位影响 */
    margin-top: calc(43px + 16px);
}

.package:hover, .package:active {
    /* 第二种解决方式: 加 !important */
    /* border-color: #ff5d51 !important; */
    border-color: #ff5d51;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.package a {
    text-decoration: none;
    color: inherit;
    /* 将a标签设置为block, 确保占满父元素所有可用空间 */
    display: block;
    padding: 32px;
}

.package__title {
    color: black;
}

.package__subtitle {
    color: #8c8c8e;
}

.package__info {
    border: 1px solid #4a5c4d;
    background: white;
    color: #354426;
    font-size: 20px;
    padding: 16px;
}

.clearfix {
    clear: both;
}

#plus {
    background: rgba(213, 255, 220, 0.95)
}

.package__badge {
    position: absolute;
    right: 0;
    top: 0;
    margin: 20px;
    padding: 8px;
    font-size: 12px;
    color: white;
    background: #ff5454;
}

#free {
    background: rgba(234, 252, 237, 0.95);
    float: right;
    /* 如果再这里设置 border-left, 那么但鼠标hover时, 不会变成橙色
    因为这里的优先级更高所以覆盖了hover的样式. 有两种解决方式:  */
    border-left: 4px solid #103b21;
    border-right: none;
}

/* 第一种解决方式(推荐): */

#free:hover, #free:active {
    border-left-color: #ff5d51;
}

#premium {
    background: rgba(14, 79, 31, 0.95)
}

#premium .package__title {
    color: white;
}

#premium .package__subtitle {
    color: #bbb;
}